* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  background-color: #fafafa;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  /* box-shadow: 2px 2px 5px 1px #000; */
  border-bottom: 2px solid #f0f0f0;
}

nav button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 5px;
  opacity: 0.6;
  transition: all 500ms ease;
}

nav button span {
  padding-right: 10px;
}

nav button:hover {
  opacity: 1;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.searchBar > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar > div:first-of-type {
  border-radius: 10px;
  padding: 5px 15px;
  background-color: #fff;
}

.searchBar img {
  height: 20px;
}

.searchBar input {
  border: none;
  outline: none;
  padding: 5px 5px 5px 10px; /* top right bottom left */
  border-radius: 10px;
  font-size: 1.1rem;
}

.searchBar button {
  background-color: #fff;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 1px 2px 0 #0000000d;
}

.countries {
  padding: 0 60px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
}

.country {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 5px 0 #0000000d;
}

.country img {
  height: 200px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.country h2 {
  padding: 10px 25px;
  font-size: 1.2rem;
}

.country h4 {
  padding: 0 25px;
}

.country h4:last-of-type {
  padding-bottom: 20px;
}

.country h4 span {
  font-weight: 400;
}

.darkText {
  color: #fff;
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #0177fb;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
